body {
    background-color: #010D00;
    font-family: 'Inconsolata', monospace;
}

#container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

@media only screen and (max-width: 390px) {
    #container {
        flex-direction: column;
    }
}

.state-name {
    opacity: 0; /* start with 0 opacity (fully transparent) */
    transition: opacity 3.5s; /* this will give a 0.5-second transition effect for the opacity */
}

h2 {
    font-size: 2vw;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    border-left: 5px solid #29DEF2;
    background-color: rgba(255,255,255,0.01);
    padding: 2%;
    margin-left: 0px;
    border-bottom: 1px groove #3B848C;
    color: #29DEF2;
}
