body {
    background-color: #010D00;
    font-family: 'Inconsolata', monospace;
}

#container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#box_mode__app_name_title {
    font-size: 60px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: red;
    margin-top: 2%;
    font-family: 'Teko', sans-serif;
}


h2 {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    border-left: 5px solid #29DEF2;
    background-color: rgba(255,255,255,0.01);
    padding: 2%;
    margin-left: 0px;
    border-bottom: 1px groove #3B848C;
    color: #29DEF2;
}
