#map {
    width: 65vw;
    height: 100vh;
}

@media only screen and (max-width: 390px) {
    #map {
        width: 100vw;
        height: 40vh;
    }
}

#chart_stats_container {
    color: #D9D9D9;
    display: grid;
    grid-template-rows: 3fr 3fr 1fr; /* Fixed row definitions */
    width: 35vw;
    height: 100vh;
    max-height: 100vh !important;
    box-sizing: border-box;


    .chart_container {
        width: 100%;
    }

    #links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        max-width: 100%;
        padding-left: 5px;
        padding-right: 15px;
        gap: 1%;
        box-sizing: border-box;
        flex-wrap: wrap;

        #logos_container {
            display: flex;
            justify-content: flex-end;
            gap: 1%;

            .logo_network {
                align-self: center;
                width: 5vw;
                height: 5vw;
                margin: 0em 1em;

                .logo_image {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 390px) {
    #chart_stats_container {
        width: 100vw;
        height: 60vh;
    }
}

#chart_stats_container__container h1 {
    justify-self: flex-start;
    color: #25292e;
}
