#smap {
    background-color: blue;
    width: 70vw;
    height: 30vh;
}

#chart_stats_container {
    color: #D9D9D9;
    display: grid;
    grid-template-rows: 3fr 2fr 0.5fr; /* Fixed row definitions */
    width: 30vw;
    height: 100vh;
    max-height: 100vh;
    background-color: green;
    box-sizing: border-box;

    .chart_container {
        width: 100%;
        background-color: darkolivegreen;
    }

    #links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
        width: 100%;
        max-width: 100%;
        padding-left: 5px;
        padding-right: 15px;
        gap: 1%;
        box-sizing: border-box;
        background-color: azure;
        flex-wrap: wrap;

        #logos_container {
            display: flex;
            justify-content: flex-end;
            gap: 1%;

            .logo_network {
                align-self: center;
                width: 50px;
                height: 50px;
                margin: 1em;

                .logo_image {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

#chart_stats_container__container h1 {
    justify-self: flex-start;
    color: #25292e;
}
