.stats_container {
    #stats {
        display: flex;
        flex-direction: column;
        color: #29DEF2;
        box-sizing: border-box;

        #stats-ul {
            padding: 0em 0.5em;
            box-sizing: border-box;

            .stats-item {
                display: grid; /* enables grid layout */
                grid-template-columns: 30% 15% 30%; /* sets the width of the two columns to be 50% each */

                padding: 3%;
                border-bottom: 1px outset #3B848C;
                margin-right: 10px;
                font-size: 1vw;
            }

            li :first-child {
                text-align: right;
                margin-right: 20%;
                font-weight: 700;
            }
        }
    }
}

@media only screen and (max-width: 390px) {
    .stats_container #stats #stats-ul .stats-item {
        grid-template-columns: 3fr 2fr 1fr;
        font-size: 3vw;
    }
}

.selectable {
    cursor: pointer;
}

.selectable:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
